@keyframes fromTheLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  80% {
    opacity: 9;
    transform: translateX(1%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromTheRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  80% {
    opacity: 9;
    transform: translateX(-1%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fromTheBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  80% {
    opacity: 9;
    transform: translateY(-1%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
